/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-right: 40px;
  background-color: #018749;
  color: white;
  align-items: center;
}

.links {
  display: flex;
  gap: 20px;
}

.weblogo-link {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.weblogo-link:hover {
  color: lightgrey;
}

.navlink {
  text-decoration: none;
  color: black;
  background-color: white;
  border-style: none;
  font-size: 20px;
  padding: 5px;
  border-radius: 7px;
}

.navlink:hover {
  background-color: lightgrey;
}

.home-page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: left;
}

.event-page-title {
  font-size: 30px;
  margin: 15px;
}

.event-box {
  text-align: left;
  width: 500px;
  height: 200px;
  font-size: 20px;
  padding: 20px;
  color: black;
  background-color: lightgrey;
  border-radius: 15px;
}

.event-title {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.event-description {
  margin-top: 15px;
}
